<div class='c-actions-selected'>
    <div class='c-actions-selected__head'>
        <button type='button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path d="M12 4.8L4 12.8" stroke="#333945" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4 4.8L12 12.8" stroke="#333945" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <p class='c-actions-selected__info c-text-xs u-fw-700 u-color-grey-900'>3 item(s) selected</p>
    </div>
    <div class='c-actions-selected__actions'>
        <button type='button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.66667 11.4667C3.03486 11.4667 3.33333 11.7652 3.33333 12.1334V13.4667C3.33333 13.6435 3.40357 13.8131 3.5286 13.9381C3.65362 14.0631 3.82319 14.1334 4 14.1334H12C12.1768 14.1334 12.3464 14.0631 12.4714 13.9381C12.5964 13.8131 12.6667 13.6435 12.6667 13.4667V12.1334C12.6667 11.7652 12.9651 11.4667 13.3333 11.4667C13.7015 11.4667 14 11.7652 14 12.1334V13.4667C14 13.9971 13.7893 14.5058 13.4142 14.8809C13.0391 15.256 12.5304 15.4667 12 15.4667H4C3.46957 15.4667 2.96086 15.256 2.58579 14.8809C2.21071 14.5058 2 13.9971 2 13.4667V12.1334C2 11.7652 2.29848 11.4667 2.66667 11.4667Z" fill="#333945"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.19526 7.66196C4.45561 7.40162 4.87772 7.40162 5.13807 7.66196L8 10.5239L10.8619 7.66196C11.1223 7.40162 11.5444 7.40162 11.8047 7.66196C12.0651 7.92231 12.0651 8.34442 11.8047 8.60477L8.4714 11.9381C8.21106 12.1985 7.78895 12.1985 7.5286 11.9381L4.19526 8.60477C3.93491 8.34442 3.93491 7.92231 4.19526 7.66196Z" fill="#333945"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00004 2.8C8.36823 2.8 8.66671 3.09848 8.66671 3.46667V11.4667C8.66671 11.8349 8.36823 12.1333 8.00004 12.1333C7.63185 12.1333 7.33337 11.8349 7.33337 11.4667V3.46667C7.33337 3.09848 7.63185 2.8 8.00004 2.8Z" fill="#333945"/>
            </svg>
        </button>
        <button type='button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <g clip-path="url(#clip0_8932_3981)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1.33331 4.80007C1.33331 4.43188 1.63179 4.1334 1.99998 4.1334H14C14.3682 4.1334 14.6666 4.43188 14.6666 4.80007C14.6666 5.16826 14.3682 5.46674 14 5.46674H1.99998C1.63179 5.46674 1.33331 5.16826 1.33331 4.80007Z" fill="#333945"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66663 2.79994C6.48982 2.79994 6.32025 2.87018 6.19522 2.9952C6.0702 3.12022 5.99996 3.28979 5.99996 3.4666V4.79994C5.99996 5.16813 5.70148 5.4666 5.33329 5.4666C4.9651 5.4666 4.66663 5.16813 4.66663 4.79994V3.4666C4.66663 2.93617 4.87734 2.42746 5.25241 2.05239C5.62749 1.67732 6.13619 1.4666 6.66663 1.4666H9.33329C9.86373 1.4666 10.3724 1.67732 10.7475 2.05239C11.1226 2.42746 11.3333 2.93617 11.3333 3.4666V4.79994C11.3333 5.16813 11.0348 5.4666 10.6666 5.4666C10.2984 5.4666 9.99996 5.16813 9.99996 4.79994V3.4666C9.99996 3.28979 9.92972 3.12022 9.8047 2.9952C9.67967 2.87018 9.5101 2.79994 9.33329 2.79994H6.66663ZM3.33329 4.13327C3.70148 4.13327 3.99996 4.43175 3.99996 4.79994V14.1333C3.99996 14.3101 4.0702 14.4797 4.19522 14.6047C4.32025 14.7297 4.48982 14.7999 4.66663 14.7999H11.3333C11.5101 14.7999 11.6797 14.7297 11.8047 14.6047C11.9297 14.4797 12 14.3101 12 14.1333V4.79994C12 4.43175 12.2984 4.13327 12.6666 4.13327C13.0348 4.13327 13.3333 4.43175 13.3333 4.79994V14.1333C13.3333 14.6637 13.1226 15.1724 12.7475 15.5475C12.3724 15.9226 11.8637 16.1333 11.3333 16.1333H4.66663C4.13619 16.1333 3.62748 15.9226 3.25241 15.5475C2.87734 15.1724 2.66663 14.6637 2.66663 14.1333V4.79994C2.66663 4.43175 2.9651 4.13327 3.33329 4.13327Z" fill="#333945"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66667 7.4666C7.03486 7.4666 7.33333 7.76508 7.33333 8.13327V12.1333C7.33333 12.5015 7.03486 12.7999 6.66667 12.7999C6.29848 12.7999 6 12.5015 6 12.1333V8.13327C6 7.76508 6.29848 7.4666 6.66667 7.4666Z" fill="#333945"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33329 7.4666C9.70148 7.4666 9.99996 7.76508 9.99996 8.13327V12.1333C9.99996 12.5015 9.70148 12.7999 9.33329 12.7999C8.9651 12.7999 8.66663 12.5015 8.66663 12.1333V8.13327C8.66663 7.76508 8.9651 7.4666 9.33329 7.4666Z" fill="#333945"/>
                </g>
                <defs>
                    <clipPath id="clip0_8932_3981">
                        <rect width="16" height="16" fill="white" transform="translate(0 0.800003)"/>
                    </clipPath>
                </defs>
            </svg>
        </button>
        <button type='button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.00003 4.13203C4.36896 4.13203 4.66803 4.43111 4.66803 4.80003V8.80003C4.66803 9.1533 4.80837 9.4921 5.05816 9.7419C5.30796 9.9917 5.64676 10.132 6.00003 10.132H11.054L9.52768 8.60571C9.26681 8.34484 9.26681 7.92189 9.52768 7.66102C9.78855 7.40015 10.2115 7.40015 10.4724 7.66102L13.139 10.3277C13.3999 10.5886 13.3999 11.0115 13.139 11.2724L10.4724 13.939C10.2115 14.1999 9.78855 14.1999 9.52768 13.939C9.26681 13.6782 9.26681 13.2552 9.52768 12.9944L11.054 11.468H6.00003C5.29243 11.468 4.61382 11.1869 4.11347 10.6866C3.61312 10.1862 3.33203 9.50763 3.33203 8.80003V4.80003C3.33203 4.43111 3.63111 4.13203 4.00003 4.13203Z" fill="#333945"/>
            </svg>
        </button>
    </div>
</div>