<div class='c-content'>
    <div class='c-content__actions'>
        <div class='c-search-field'>
            <label for="search" class="u-sr-only">Rechercher</label>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.33329 3.6C4.82959 3.6 2.79995 5.62965 2.79995 8.13334C2.79995 10.637 4.82959 12.6667 7.33329 12.6667C9.83698 12.6667 11.8666 10.637 11.8666 8.13334C11.8666 5.62965 9.83698 3.6 7.33329 3.6ZM1.19995 8.13334C1.19995 4.74599 3.94594 2 7.33329 2C10.7206 2 13.4666 4.74599 13.4666 8.13334C13.4666 11.5207 10.7206 14.2667 7.33329 14.2667C3.94594 14.2667 1.19995 11.5207 1.19995 8.13334Z" fill="black"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.5344 11.3343C10.8468 11.0219 11.3533 11.0219 11.6657 11.3343L14.5657 14.2343C14.8782 14.5467 14.8782 15.0533 14.5657 15.3657C14.2533 15.6781 13.7468 15.6781 13.4344 15.3657L10.5344 12.4657C10.2219 12.1533 10.2219 11.6467 10.5344 11.3343Z" fill="black"/>
            </svg>
            <input placeholder="Rechercher" id="search" name="search" class="c-search-field__input c-text-m u-text-white" />
        </div>
        <button class='c-content__toggle u-hidden@from-md'>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M3.33337 4.16667C3.33337 3.94565 3.42117 3.73369 3.57745 3.57741C3.73373 3.42113 3.94569 3.33333 4.16671 3.33333H7.50004C7.72105 3.33333 7.93302 3.42113 8.0893 3.57741C8.24558 3.73369 8.33337 3.94565 8.33337 4.16667V7.5C8.33337 7.72101 8.24558 7.93297 8.0893 8.08926C7.93302 8.24554 7.72105 8.33333 7.50004 8.33333H4.16671C3.94569 8.33333 3.73373 8.24554 3.57745 8.08926C3.42117 7.93297 3.33337 7.72101 3.33337 7.5V4.16667Z" stroke="white" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.6666 4.16667C11.6666 3.94565 11.7544 3.73369 11.9107 3.57741C12.067 3.42113 12.2789 3.33333 12.5 3.33333H15.8333C16.0543 3.33333 16.2663 3.42113 16.4225 3.57741C16.5788 3.73369 16.6666 3.94565 16.6666 4.16667V7.5C16.6666 7.72101 16.5788 7.93297 16.4225 8.08926C16.2663 8.24554 16.0543 8.33333 15.8333 8.33333H12.5C12.2789 8.33333 12.067 8.24554 11.9107 8.08926C11.7544 7.93297 11.6666 7.72101 11.6666 7.5V4.16667Z" stroke="white" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.33337 12.5C3.33337 12.279 3.42117 12.067 3.57745 11.9107C3.73373 11.7545 3.94569 11.6667 4.16671 11.6667H7.50004C7.72105 11.6667 7.93302 11.7545 8.0893 11.9107C8.24558 12.067 8.33337 12.279 8.33337 12.5V15.8333C8.33337 16.0543 8.24558 16.2663 8.0893 16.4226C7.93302 16.5789 7.72105 16.6667 7.50004 16.6667H4.16671C3.94569 16.6667 3.73373 16.5789 3.57745 16.4226C3.42117 16.2663 3.33337 16.0543 3.33337 15.8333V12.5Z" stroke="white" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.6666 12.5C11.6666 12.279 11.7544 12.067 11.9107 11.9107C12.067 11.7545 12.2789 11.6667 12.5 11.6667H15.8333C16.0543 11.6667 16.2663 11.7545 16.4225 11.9107C16.5788 12.067 16.6666 12.279 16.6666 12.5V15.8333C16.6666 16.0543 16.5788 16.2663 16.4225 16.4226C16.2663 16.5789 16.0543 16.6667 15.8333 16.6667H12.5C12.2789 16.6667 12.067 16.5789 11.9107 16.4226C11.7544 16.2663 11.6666 16.0543 11.6666 15.8333V12.5Z" stroke="white" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
        <div class='c-content__buttons u-hidden@until-md'>
            <button class='c-button c-text-xs u-fw-500 u-color-neutral-white'>
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_8891_105)">
                        <g clip-path="url(#clip1_8891_105)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33342 4.12667C3.15484 4.12667 2.98358 4.19761 2.8573 4.32389C2.73103 4.45016 2.66009 4.62143 2.66009 4.8V12.1333C2.66009 12.3119 2.73103 12.4832 2.8573 12.6095C2.98358 12.7357 3.15484 12.8067 3.33342 12.8067H8.00009C8.3646 12.8067 8.66009 13.1022 8.66009 13.4667C8.66009 13.8312 8.3646 14.1267 8.00009 14.1267H3.33342C2.80476 14.1267 2.29774 13.9167 1.92392 13.5428C1.5501 13.169 1.34009 12.662 1.34009 12.1333V4.8C1.34009 4.27134 1.5501 3.76433 1.92392 3.3905C2.29774 3.01668 2.80476 2.80667 3.33342 2.80667H6.00009C6.17513 2.80667 6.343 2.87621 6.46678 2.99998L8.27347 4.80667H12.6668C13.1954 4.80667 13.7024 5.01668 14.0763 5.3905C14.4501 5.76433 14.6601 6.27134 14.6601 6.8V9.13334C14.6601 9.49785 14.3646 9.79334 14.0001 9.79334C13.6356 9.79334 13.3401 9.49785 13.3401 9.13334V6.8C13.3401 6.62143 13.2691 6.45016 13.1429 6.32389C13.0166 6.19761 12.8453 6.12667 12.6668 6.12667H8.00009C7.82504 6.12667 7.65717 6.05714 7.5334 5.93336L5.72671 4.12667H3.33342Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0066 13.4667C10.0066 13.1022 10.3021 12.8067 10.6666 12.8067H14.6666C15.0311 12.8067 15.3266 13.1022 15.3266 13.4667C15.3266 13.8312 15.0311 14.1267 14.6666 14.1267H10.6666C10.3021 14.1267 10.0066 13.8312 10.0066 13.4667Z" fill="white"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6666 10.8067C13.0311 10.8067 13.3266 11.1022 13.3266 11.4667V15.4667C13.3266 15.8312 13.0311 16.1267 12.6666 16.1267C12.3021 16.1267 12.0066 15.8312 12.0066 15.4667V11.4667C12.0066 11.1022 12.3021 10.8067 12.6666 10.8067Z" fill="white"/>
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0_8891_105">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.800003)"/>
                        </clipPath>
                        <clipPath id="clip1_8891_105">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.800003)"/>
                        </clipPath>
                    </defs>
                </svg>
                Create folder
            </button>
            <button class='c-button c-text-xs u-fw-500 u-color-neutral-white'>
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.33341 2.13334C9.7016 2.13334 10.0001 2.43182 10.0001 2.80001V5.46667H12.6667C13.0349 5.46667 13.3334 5.76515 13.3334 6.13334C13.3334 6.50153 13.0349 6.80001 12.6667 6.80001H10.0001C9.64646 6.80001 9.30732 6.65953 9.05727 6.40948C8.80722 6.15943 8.66675 5.8203 8.66675 5.46667V2.80001C8.66675 2.43182 8.96522 2.13334 9.33341 2.13334Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.66675 3.46667C4.48994 3.46667 4.32037 3.53691 4.19534 3.66193C4.07032 3.78696 4.00008 3.95653 4.00008 4.13334V13.4667C4.00008 13.6435 4.07032 13.8131 4.19534 13.9381C4.32037 14.0631 4.48994 14.1333 4.66675 14.1333H11.3334C11.5102 14.1333 11.6798 14.0631 11.8048 13.9381C11.9298 13.8131 12.0001 13.6435 12.0001 13.4667V6.40948L9.05727 3.46667H4.66675ZM3.25253 2.71913C3.62761 2.34405 4.13632 2.13334 4.66675 2.13334H9.33342C9.51023 2.13334 9.6798 2.20358 9.80482 2.3286L13.1382 5.66193C13.2632 5.78696 13.3334 5.95653 13.3334 6.13334V13.4667C13.3334 13.9971 13.1227 14.5058 12.7476 14.8809C12.3726 15.256 11.8638 15.4667 11.3334 15.4667H4.66675C4.13631 15.4667 3.62761 15.256 3.25253 14.8809C2.87746 14.5058 2.66675 13.9971 2.66675 13.4667V4.13334C2.66675 3.60291 2.87746 3.0942 3.25253 2.71913Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00004 7.46667C8.36823 7.46667 8.66671 7.76515 8.66671 8.13334V12.1333C8.66671 12.5015 8.36823 12.8 8.00004 12.8C7.63185 12.8 7.33337 12.5015 7.33337 12.1333V8.13334C7.33337 7.76515 7.63185 7.46667 8.00004 7.46667Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7.52864 7.66193C7.78899 7.40158 8.2111 7.40158 8.47144 7.66193L10.4714 9.66193C10.7318 9.92228 10.7318 10.3444 10.4714 10.6047C10.2111 10.8651 9.78899 10.8651 9.52864 10.6047L8.00004 9.07615L6.47145 10.6047C6.2111 10.8651 5.78899 10.8651 5.52864 10.6047C5.26829 10.3444 5.26829 9.92228 5.52864 9.66193L7.52864 7.66193Z" fill="white"/>
                </svg>
                Upload file
            </button>
        </div>
        <div class='c-toggle-buttons u-hidden@until-md'>
            <button class='c-toggle-buttons__active'>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path d="M6 4.79995H13.3333" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 8.79995H13.3333" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 12.8H13.3333" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.33325 4.79995V4.80662" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.33325 8.79995V8.80662" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M3.33325 12.8V12.8066" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                    <path d="M2.66675 4.13332C2.66675 3.95651 2.73699 3.78694 2.86201 3.66191C2.98703 3.53689 3.1566 3.46665 3.33341 3.46665H6.00008C6.17689 3.46665 6.34646 3.53689 6.47149 3.66191C6.59651 3.78694 6.66675 3.95651 6.66675 4.13332V6.79999C6.66675 6.9768 6.59651 7.14637 6.47149 7.27139C6.34646 7.39641 6.17689 7.46665 6.00008 7.46665H3.33341C3.1566 7.46665 2.98703 7.39641 2.86201 7.27139C2.73699 7.14637 2.66675 6.9768 2.66675 6.79999V4.13332Z" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.33325 4.13332C9.33325 3.95651 9.40349 3.78694 9.52851 3.66191C9.65354 3.53689 9.82311 3.46665 9.99992 3.46665H12.6666C12.8434 3.46665 13.013 3.53689 13.138 3.66191C13.263 3.78694 13.3333 3.95651 13.3333 4.13332V6.79999C13.3333 6.9768 13.263 7.14637 13.138 7.27139C13.013 7.39641 12.8434 7.46665 12.6666 7.46665H9.99992C9.82311 7.46665 9.65354 7.39641 9.52851 7.27139C9.40349 7.14637 9.33325 6.9768 9.33325 6.79999V4.13332Z" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.66675 10.8C2.66675 10.6232 2.73699 10.4536 2.86201 10.3286C2.98703 10.2036 3.1566 10.1334 3.33341 10.1334H6.00008C6.17689 10.1334 6.34646 10.2036 6.47149 10.3286C6.59651 10.4536 6.66675 10.6232 6.66675 10.8V13.4667C6.66675 13.6435 6.59651 13.8131 6.47149 13.9381C6.34646 14.0631 6.17689 14.1334 6.00008 14.1334H3.33341C3.1566 14.1334 2.98703 14.0631 2.86201 13.9381C2.73699 13.8131 2.66675 13.6435 2.66675 13.4667V10.8Z" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.33325 10.8C9.33325 10.6232 9.40349 10.4536 9.52851 10.3286C9.65354 10.2036 9.82311 10.1334 9.99992 10.1334H12.6666C12.8434 10.1334 13.013 10.2036 13.138 10.3286C13.263 10.4536 13.3333 10.6232 13.3333 10.8V13.4667C13.3333 13.6435 13.263 13.8131 13.138 13.9381C13.013 14.0631 12.8434 14.1334 12.6666 14.1334H9.99992C9.82311 14.1334 9.65354 14.0631 9.52851 13.9381C9.40349 13.8131 9.33325 13.6435 9.33325 13.4667V10.8Z" stroke="#128438" stroke-width="1.336" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
    <div class='c-content__cards c-content__cards--list'>
        {% include 'include/folder-card.html.twig' %}
        {% include 'include/folder-card.html.twig' %}
        {% include 'include/folder-card.html.twig' %}
        {% include 'include/folder-card.html.twig' %}
        {% include 'include/folder-card.html.twig' %}
        {% include 'include/folder-card.html.twig' %}
        {% include 'include/folder-card.html.twig' %}
    </div>
    <div class='u-hidden@from-md'>
        <button class='c-button c-content__sticky-button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M10 4.16663V15.8333" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.16675 10H15.8334" stroke="white" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            New
        </button>
    </div>
</div>