<div class='c-modal'>
    <dialog class='c-modal__dialog c-modal__dialog--lg is-open'>
        <button class='c-modal__close' type='button'>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <g clip-path="url(#clip0_8932_2476)">
                    <path d="M18 6.75L6 18.75" stroke="#566071" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 6.75L18 18.75" stroke="#566071" stroke-width="1.71429" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                    <clipPath id="clip0_8932_2476">
                        <rect width="24" height="24" fill="white" transform="translate(0 0.75)"/>
                    </clipPath>
                </defs>
            </svg>
        </button>
        <p class='c-text-l u-fw-700 u-color-grey-900'>Titre de la modal</p>
        <p class='c-text-s u-fw-400 u-color-grey-700'>Exemple se description pour la modal</p>
        <div class='c-modal__content c-modal__content--with-border'>
            CONTENT
        </div>
        <div class='c-modal__actions'>
            <button type='button' class='c-text-s u-fw-700 u-color-neutral-black'>Cancel</button>
            <button type='button' class='c-button'>Move item</button>
        </div>
    </dialog>
</div>