# ======================================================================
# Composer
# ======================================================================
/composer.lock
/composer.phar
/vendor/

# ======================================================================
# PHPUnit
# ======================================================================
/.phpunit.cache
/phpunit.xml

# ======================================================================
# PHP CS Fixer
# ======================================================================
/.php-cs-fixer.cache

# ======================================================================
# YARN
# ======================================================================
node_modules/
yarn-error.log
/tests/TestApplication/public/bundles