html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  @include text('m', var(--fm-page-text));
  background-color: var(--fm-page-bg);
  height: 100vh;
  height: 100svh;
  overflow-x: hidden;
}
