$theme-color: (
  'neutral-black': '#000000',
  'neutral-black-40': 'rgba(0, 0, 0, 0.4)',
  'neutral-white': '#FFFFFF',
  'grey-20': '#F9FAFB',
  'grey-50': '#F7F8FA',
  'grey-100': '#DEE1E8',
  'grey-200': '#F1F2F5',
  'grey-300': '#EDEEF1',
  'grey-500': '#7F889C',
  'grey-700': '#566071',
  'grey-900': '#333945',
  'actions-success-50': '#EBF7EB',
  'actions-success-500': '#34994C',
  'actions-success-600': '#128438',
  'actions-success-800': '#00591D',
  'actions-danger-50': '#FFEDE8',
  'actions-danger-600': '#E60020',
  'actions-warning-50': '#FFF0E2',
  'actions-warning-600': '#BC5400',
  'actions-news-50': '#ECF5FD',
  'actions-news-600': '#007AB6',
  'actions-news-100': '#D9E8FA',
);

:root {
  // Primitives
  @each $name, $color in $theme-color {
    --fm-color-#{$name}: #{$color};
  }

  --fm-color-brand-gradient: linear-gradient(180deg, rgba(193, 0, 34, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
  --fm-color-brand-eko-gradient: linear-gradient(180deg, rgba(240, 125, 0, 0.4) 0%, rgba(240, 125, 0, 0) 100%);

  --fm-color-shadow-mid: 0px 3.5px 5.5px rgba(0, 0, 0, 0.04);
  --fm-color-shadow-deep: 0px 4px 13px rgba(0, 0, 0, 0.1);
  --fm-color-shadow-soft-down: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  --fm-color-shadow-soft-up: 0px -4.5px 5.5px rgba(0, 0, 0, 0.02);
  --fm-color-shadow-soft-right: 4px 0px 5.5px rgba(0, 0, 0, 0.02);

  // Assignation
  --fm-selection: var(--fm-color-neutral-white);
  --fm-selection-bg: var(--fm-color-grey-900);

  --fm-page-bg: var(--fm-color-neutral-white);
  --fm-page-text: var(--fm-color-grey-900);

  --fm-link: var(--fm-color-neutral-black);
  --fm-link-hover: var(--fm-color-neutral-black);

  --fm-border-grey-50: var(--fm-color-grey-50);
  --fm-border-grey-100: var(--fm-color-grey-100);
  --fm-border-grey-900: var(--fm-color-grey-900);
  --fm-border-success-800: var(--fm-color-actions-success-800);

  --fm-button-bg: var(--fm-color-actions-success-600);
  --fm-button-bg-hover: var(--fm-color-actions-success-800);
  --fm-button-label: var(--fm-color-neutral-white);
  --fm-button-disabled-label: var(--fm-color-grey-500);

  --fm-search-field-bg: var(--fm-color-grey-50);
  --fm-search-field-placeholder: var(--fm-color-grey-500);

  --fm-toggle-button-border: var(--fm-color-actions-success-600);
  --fm-toggle-button-active-bg: var(--fm-color-actions-success-50);
  --fm-toggle-button-mob: var(--fm-color-neutral-white);

  --fm-card-bg: var(--fm-color-grey-50);
  --fm-card-hover-bg: var(--fm-color-grey-200);
  --fm-card-active-bg: var(--fm-color-grey-300);
  --fm-card-icon-bg: var(--fm-color-grey-100);

  --fm-actions-selected-bg: var(--fm-color-grey-200);

  --fm-modal-overlay-bg: var(--fm-color-neutral-black-40);

  --fm-folder-collapse-active-bg: var(--fm-color-actions-news-50);
  --fm-folder-collapse-active: var(--fm-color-actions-news-600);
  --fm-folder-collapse-disabled: var(--fm-color-grey-500);

  --fm-card-actions-content-bg: var(--fm-color-neutral-white);
  --fm-card-actions-button: var(--fm-color-grey-700);
  --fm-card-actions-button-bg-hover: var(--fm-color-grey-50);

  --fm-field-placeholder: var(--fm-color-grey-500);
  --fm-field-error-border: var(--fm-color-actions-danger-600);

  --fm-select-current: var(--fm-color-actions-success-800);
  --fm-select-list-bg: var(--fm-color-neutral-white);
  --fm-select-active-bg: #E7F3EB;
  --fm-select-item-hover: var(--fm-color-grey-50);

  --fm-loading-grey: var(--fm-border-grey-100);
  --fm-loading-grey-light: var(--fm-border-grey-50);
}