@mixin heading($level: 'm', $color: var(--fm-page-text), $font-weight: 600, $font-family: var(--fm-font-primary)) {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight;
  color: $color;

  @if $level == 'xxxl' {
    font-size: 26px;
    line-height: 31px;
  } @else if $level == 'xxl' {
    font-size: 22px;
    line-height: 27px;
  } @else if $level == 'xl' {
    font-size: 20px;
    line-height: 24px;
  } @else if $level == 'l' {
    font-size: 18px;
    line-height: 22px;
  } @else if $level == 'm' {
    font-size: 16px;
    line-height: 19px;
  } @else if $level == 's' {
    font-size: 14px;
    line-height: 17px;
  } @else {
    @error "Unknown level #{$level}.";
  }
}

@mixin text($level: 'm', $color: var(--fm-page-text), $font-weight: 400, $font-family: var(--fm-font-primary)) {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight;
  color: $color;

  @if $level == 'xl' {
    font-size: 20px;
    line-height: 28px;
  } @else if $level == 'l' {
    font-size: 18px;
    line-height: 26px;
  } @else if $level == 'm' {
    font-size: 16px;
    line-height: 24px;
  } @else if $level == 's' {
    font-size: 14px;
    line-height: 22px;
  } @else if $level == 'xs' {
    font-size: 12px;
    line-height: 20px;
  } @else if $level == 'xxs' {
    font-size: 10px;
    line-height: 12px;
  } @else {
    @error "Unknown level #{$level}.";
  }
}

@mixin caps($level: 'xs', $color: var(--fm-page-text), $font-weight: 500, $font-family: var(--fm-font-primary)) {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight;
  color: $color;
  text-transform: uppercase;

  @if $level == 'xs' {
    font-size: 12px;
    line-height: 15px;
  } @else if $level == 'xxs' {
    font-size: 10px;
    line-height: 12px;
  } @else {
    @error "Unknown level #{$level}.";
  }
}
