.fm-u-hidden {
  display: none!important;
}

@each $name, $value in $breakpoints {
  @include min-width(#{$name}) {
    .fm-u-hidden\@from-#{$name} {
      display: none!important;
    }
  }
  @include max-width(#{$name}) {
    .fm-u-hidden\@until-#{$name} {
      display: none!important;
    }
  }
}
