.fm-u-sr-only {
  border: 0;
  clip: rect(10px, 10px, 10px, 10px);
  clip-path: inset(50%);
  height: 10px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 10px;
  white-space: nowrap;
}