.fm-u-sr-only {
  border: 0;
  clip: rect(.1rem, .1rem, .1rem, .1rem);
  clip-path: inset(50%);
  height: .1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: .1rem;
  white-space: nowrap;
}