<!DOCTYPE html>
<html lang="en" class="h-screen bg-gray-100">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="view-transition" content="same-origin" />
        <title>{% block title %}Mezcalito File Manager{% endblock %}</title>

        {% block importmap %}{{ importmap('app') }}{% endblock %}
    </head>

    <body>
        <div class="c-layout">
            {% include 'include/sidebar.html.twig' %}
            {% include 'include/content.html.twig' %}
        </div>
    </body>
</html>