<div {{ attributes.defaults({class: 'fm-c-search__wrapper'}) }}>
    <div class='fm-c-search__field'>
        <label for="search" class="fm-u-sr-only">{{ 'Search'|trans(domain="FileManagerBundle") }}</label>
        {% include '@MezcalitoFileManager/icons/search.svg' %}
        <input
                type="search"
                placeholder="{{ 'Search'|trans(domain="FileManagerBundle") }}"
                id="search"
                name="'fm-{{ random() }}"
                class="fm-c-search__input c-text-m u-text-white"
                data-action="
                    live#action
                    keydown.down->mezcalito--ux-filemanager--filemanager#onSearchKeyDown
                    keydown.up->mezcalito--ux-filemanager--filemanager#onSearchKeyUp
                    keydown.enter->mezcalito--ux-filemanager--filemanager#onSearchEnter
                    focus->mezcalito--ux-filemanager--filemanager#onSearchFocus
                    blur->mezcalito--ux-filemanager--filemanager#onSearchBlur
                "
                data-live-action-param="search"
                data-model="debounce(1000)|query"
                autocomplete="search"
        />
    </div>

    {% if search %}
        <div class="fm-c-search__results">
            {% for node in search %}
                <twig:Mezcalito:FileManager:SearchItemResult :id="[node.id, random()]|join('_')" :storage="storage" :path="node.id" loading="lazy"/>
            {% endfor %}
        </div>
    {% endif %}
</div>
