.c-submenu {
  background-color: var(--modal-overlay-bg);
  position: fixed;
  inset: 0;
  display: flex;
  align-items: end;
  transition: opacity var(--transition-in-out);
  opacity: 0;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    pointer-events: all;

    .c-submenu__content {
      transform: translateY(0);
    }
  }
}

.c-submenu__content {
  position: relative;
  padding: $space-24 $space-16;
  border-radius: var(--radius-lg) var(--radius-lg) 0 0;
  background-color: var(--color-neutral-white);
  width: 100%;
  transition: transform var(--transition-in-out);
  transform: translateY(100%);

  ul {
    list-style: none;
    padding: 0;
  }
}

.c-submenu__item {
  display: flex;
  align-items: center;
  gap: $space-16;
  padding: $space-8 $space-12;
}

.c-submenu__button svg {
  border: 1px solid var(--border-grey-100);
  border-radius: 50%;
  padding: $space-10;
  width: 4rem;
  height: 4rem;
}