.c-collapse {
  &[data-visible='true'] {
    & > .c-collapse__head .c-collapse__arrow {
      transform: rotate(90deg);
    }
  }
  &[data-visible='false'] {
    & > .c-collapse__head .c-collapse__arrow {
      transform: rotate(0deg) !important;
    }
  }
}

.c-collapse__openable {
  margin-left: -2.3rem;
}

.c-collapse__head {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  padding: 0.4rem $space-8;
  border-radius: var(--radius-sm);
  transition: background-color var(--transition-in-out);
  width: fit-content;

  & button {
    transition: color var(--transition-in-out);
  }

  & svg path {
    transition: stroke var(--transition-in-out);
  }

  &:not(.c-collapse__head--first) {
    margin-bottom: $space-8;
  }
}

.c-collapse__head--first {
  margin-bottom: 1rem;
}

.c-collapse__head--active {
  background-color: var(--folder-collapse-active-bg);

  & button {
    color: var(--folder-collapse-active);
  }

  & svg path {
    stroke: var(--folder-collapse-active);
  }
}

.c-collapse__head--disabled {
  .c-collapse__action {
    color: var(--folder-collapse-disabled);
  }
}

.c-collapse > .c-collapse__wrapper {
  position: relative;
  overflow: hidden;
  display: none;
}

.c-collapse[data-visible='true'] > .c-collapse__wrapper {
  display: block;
}

.c-collapse__content {
  display: inline-block;
}

.c-collapse__action {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
