.c-content {
  overflow: auto;
  padding: $space-16;
  display: flex;
  flex-direction: column;
  gap: $space-16;

  @include max-width(md) {
    padding-top: 0;
    gap: $space-12;
  }
}

.c-content__actions {
  @include min-width(md) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: $space-12;
  }

  @include max-width(md) {
    display: grid;
    grid-template-columns: 1fr 4rem;
    grid-gap: $space-16;
  }
}

.c-content__toggle {
  padding: $space-10;
  background-color: var(--button-bg);
  border-radius: var(--radius-md);
}

.c-content__buttons {
  display: flex;
  gap: $space-8;
}

.c-content__cards {
  display: flex;
  flex-direction: column;
  gap: $space-8;

  &--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $space-16;

    .c-file-card {
      padding: $space-8;
      grid-template-columns: 1fr 2.4rem;
      grid-template-rows: 3.2rem 13.5rem auto;
      grid-template-areas:
          "name action"
          "img img"
          "info info";
      grid-gap: $space-8;

      @include max-width(md) {
        grid-template-rows: 3.2rem 8rem auto;
      }

      &:has(.c-file-card__input:checked) {
        grid-template-columns: 2.8rem 1fr 2.4rem;
        grid-template-areas:
            "activeIcon name action"
            "img img img"
            "info info info";
      }
    }

    .c-file-card__picture {
      width: 100%;
      height: 100%;
    }

    .c-file-card__name {
      align-self: center;
    }

    .c-folder-card {
      padding: $space-8;
      grid-template-columns: 1fr 2.4rem;
      grid-template-rows: 3.2rem 13.5rem auto;
      grid-template-areas:
          "name action"
          "img img"
          "info info";
      grid-gap: $space-8;

      @include max-width(md) {
        grid-template-rows: 3.2rem 8rem auto;
      }

      &:has(.c-folder-card__input:checked) {
        grid-template-columns: 2.8rem 1fr 2.4rem;
        grid-template-areas:
            "activeIcon name action"
            "img img img"
            "info info info";
      }
    }

    .c-folder-card__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .c-folder-card__name {
      align-self: center;
    }

    .c-file-card__infos {
      flex-direction: column;
      gap: 0;
    }

    @include max-width(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.c-content__sticky-button {
  position: fixed;
  bottom: $space-16;
  right: $space-16;
}