.c-content {
  overflow: auto;
  padding: $space-16;
}

.c-content__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: $space-8;
}

.c-content__buttons {
  display: flex;
  gap: $space-8;
}

.c-content__cards {
  margin-top: $space-16;

  &--list {
    display: flex;
    flex-direction: column;
    gap: $space-8;
  }

  &--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $space-16;
  }
}