.c-file-card {
  padding: $space-8 $space-16 $space-8 $space-8;
  background-color: var(--card-bg);
  border-radius: var(--radius-sm);
  position: relative;
  transition: background-color var(--transition-in-out);
  display: grid;
  grid-template-areas:
    "img name action"
    "img info action";
  grid-gap: 0 $space-16;
  grid-template-columns: 5.6rem 1fr 2.4rem;

  &:hover,
  &:has(.c-file-card__input:checked) {
    background-color: var(--card-active-bg);
  }

  &:has(.c-file-card__input:checked) {
    grid-template-columns: 2.8rem 5.6rem 1fr 2.4rem;
    grid-template-areas:
    "activeIcon img name action"
    "activeIcon img info action";
  }

  &:has(.c-file-card__input:checked) .c-file-card__active-icon {
    display: flex;
  }
}

.c-file-card__input {
  display: none;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.c-file-card__link {
  //display: none;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.c-file-card__active-icon {
  display: none;
  padding-left: $space-8;
  grid-area: activeIcon;
  align-items: center;
}

.c-file-card__infos {
  display: flex;
  align-items: center;
  gap: $space-16;
}

.c-file-card__icon {
  padding: $space-12;
  background-color: var(--card-icon-bg);
  border-radius: var(--radius-lg);
  grid-area: img;
  height: fit-content;
  margin: auto 0;
}

.c-file-card__name {
  grid-area: name;
  display: flex;
  align-items: end;
}

.c-file-card__infos {
  grid-area: info;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: $space-8;
}

.c-file-card__action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: action;
}