.c-modal {
  transform: scale(0.95);
  border: 0;
  padding: $space-20;
  border-radius: var(--radius-md);
  display: flex;
  flex-direction: column;
  transition: opacity var(--transition-in-out), transform var(--transition-in-out);
  opacity: 0;
  pointer-events: none;

  & > p {
    text-align: center;
    margin-bottom: $space-16;
  }
}

.c-modal--open {
  opacity: 1;
  pointer-events: all;
  transform: scale(1);
}

.c-modal--md {
  width: 33rem;

  @include max-width(md) {
    width: calc(100% - 3.2rem);
  }
}

.c-modal--lg {
  width: 68.6rem;

  @include max-width(md) {
    width: calc(100% - 3.2rem);
  }
}

.c-modal__close {
  position: absolute;
  top: $space-16;
  right: $space-16;
}

.c-modal__content {
  max-height: 29rem;
  overflow: auto;

  ul {
    list-style: none;
  }

  & > ul {
    padding: 0;
  }

  .c-collapse__content,
  .c-collapse__head {
    width: 100%;
  }
}

.c-modal__content--with-border {
  border-radius: var(--radius-md);
  border: 1px solid var(--border-grey-100);
  padding: $space-16;
}

.c-modal__actions {
  display: flex;
  align-items: center;
  margin-top: $space-32;
  gap: $space-24;
  justify-content: end;
}