@use "../01_settings/settings.media-queries";
@use "../01_settings/settings.spacing" as settings2;

.fm-c-search-field {
  width: 27rem;
  position: relative;

  @include settings.max-width(md) {
    width: 100%;
  }

  & > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: settings2.$space-16;
  }
}

.fm-c-search-field__input {
  padding: settings2.$space-8 settings2.$space-16 settings2.$space-8 4.4rem;
  width: 100%;
  outline: none;
  border: 0;
  background-color: var(--fm-search-field-bg);
  border-radius: var(--fm-radius-md);

  &::placeholder {
    color: var(--fm-search-field-placeholder);
  }
}