@use "../01_settings/settings.media-queries" as settings2;
@use "../01_settings/settings.spacing";

.fm-c-custom-select {
  position: relative;
}

.fm-c-custom-select__input-wrapper {
  cursor: pointer;
  padding: settings.$space-8 settings.$space-14 settings.$space-8 settings.$space-16;
  border-radius: var(--fm-radius-md);
  border: 1px solid var(--fm-border-success-800);
  transition: background-color var(--fm-transition-in-out);

  &:hover {
    background-color: var(--fm-select-active-bg);
  }
}

.fm-c-custom-select__input {
  position: absolute;
  height: 0;
  width: 0;
  border: 0;
  padding: 0;
}

.fm-c-custom-select__current-wrapper {
  display: flex;
  align-items: center;
  gap: settings.$space-10;
}

.fm-c-custom-select__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);

  @include settings2.min-width(md) {
    width: 2.4rem;
    height: 2.4rem;
  }

  @include settings2.max-width(md) {
    width: 1.6rem;
    height: 1.6rem;
  }
}

.fm-c-custom-select__list-wrapper {
  display: none;
  background-color: var(--fm-select-list-bg);
  border: 1px solid var(--fm-border-grey-100);
  flex-direction: column;
  border-radius: var(--fm-radius-md);
  padding: settings.$space-8;
  max-height: 22rem;
  position: absolute;
  top: calc(100% + settings.$space-8);
  z-index: 5;
  box-shadow: var(--fm-color-shadow-deep);
  gap: 0.4rem;
  width: max-content;
  right: 0;

  &.is-active {
    display: flex;
  }
}

.fm-c-custom-select__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.fm-c-custom-select__item {
  padding: 0.9rem 4.5rem 0.9rem 1.2rem;
  transition: background-color var(--fm-transition-in-out);
  border-radius: var(--fm-radius-sm);

  &:hover {
    background-color: var(--fm-select-item-hover);
  }
}

.fm-c-custom-select__item > button {
  display: flex;
  align-items: center;
  gap: settings.$space-10;
  width: 100%;

  svg {
    @include settings2.min-width(md) {
      width: 1.8rem;
      height: 1.8rem;
    }

    @include settings2.max-width(md) {
      width: 1rem;
      height: 1rem;
    }
  }
}
