.fm-c-layout {
  display: grid;
  grid-template-columns: 24rem 1fr;
  height: 100%;

  @include max-width(md) {
    grid-template-columns: 1fr;
  }

  &:has(.fm-c-sidebar__loading) {
    height: auto;
  }
}
