.fm-c-actions-selected {
  padding: $space-8 $space-16;
  background-color: var(--actions-selected-bg);
  border-radius: var(--radius-full);
  display: flex;
  align-items: center;

  @include max-width(md) {
    justify-content: space-between;
  }
}

.fm-c-actions-selected__head {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.fm-c-actions-selected__info {
  margin: 0 $space-24 0 $space-10;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fm-c-actions-selected__actions {
  display: flex;
  align-items: center;
  gap: $space-16;

  @include max-width(md) {
    gap: $space-24;
  }
}