.fm-c-folder-card {
  padding: $space-8 $space-16 $space-8 $space-8;
  background-color: var(--fm-card-bg);
  border-radius: var(--fm-radius-sm);
  position: relative;
  transition: background-color var(--fm-transition-in-out);
  display: grid;
  grid-template-areas:
    "img name action"
    "img info action";
  grid-gap: 0 $space-16;
  grid-template-columns: 5.6rem 1fr 2.4rem;

  &:hover {
    background-color: var(--fm-card-hover-bg);
  }

  &:has(.fm-c-folder-card__input:checked) {
    background-color: var(--fm-card-active-bg);
  }

  &:has(.fm-c-folder-card__input:checked) {
    grid-template-columns: 2.8rem 5.6rem 1fr 2.4rem;
    grid-template-areas:
    "activeIcon img name action"
    "activeIcon img info action";
  }

  &:has(.fm-c-folder-card__input:checked) .fm-c-folder-card__active-icon {
    display: flex;
  }

  &:has(.fm-c-folder-card__input:checked) .fm-c-folder-card__action {
    pointer-events: none;
    opacity: 0.5;
  }
}

.fm-c-folder-card__input {
  display: none;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.fm-c-folder-card__link {
  //display: none;
  opacity: 0;
  position: absolute;
  inset: 0;
}

.fm-c-folder-card__active-icon {
  display: none;
  padding-left: $space-8;
  grid-area: activeIcon;
  align-items: center;
}

.fm-c-folder-card__infos {
  display: flex;
  align-items: center;
  gap: $space-16;
}

.fm-c-folder-card__icon {
  padding: $space-12;
  background-color: var(--fm-card-icon-bg);
  border-radius: var(--fm-radius-lg);
  grid-area: img;
}

.fm-c-folder-card__name {
  grid-area: name;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-self: end;
}

.fm-c-folder-card__number {
  grid-area: info;
}

.fm-c-folder-card__action {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: action;
  transition: opacity var(--fm-transition-in-out);
}

.fm-c-folder-card__loading {
  display: flex;
  flex-direction: column;
  gap: $space-16;

  @include max-width(md) {
    padding-top: 0;
    gap: $space-12;
  }
}

.fm-c-folder-card__bar-loader {
  height: 7.2rem;
  background: var(--fm-loading-grey);
  overflow: hidden;
  border-radius: var(--fm-radius-sm);
}

.fm-c-folder-card__bar-loader::before{
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  animation: loading 1s infinite;
  background: linear-gradient(to right, transparent,var(--fm-loading-grey-light),transparent);
}

@keyframes loading {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}