@use "../01_settings" as settings;

.fm-c-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100%;

  @include settings.max-width(md) {
    grid-template-columns: 1fr;
  }

  &:has(.fm-c-sidebar__loading) {
    height: auto;
  }
}
