@use "../01_settings" as settings;

.fm-o-layout {
  .fm-c-field__wrapper {
    position: relative;
  }

  .fm-c-field__input {
    width: 100%;
    outline: none;
    border: 1px solid var(--fm-border-grey-100);
    padding: 9px 40px 9px settings.$space-16;
    border-radius: var(--fm-radius-md);

    &:not(.fm-c-field__input--error) {
      &:focus {
        border-color: var(--fm-border-grey-900);
      }
    }

    &::placeholder {
      color: var(--fm-field-placeholder);
    }
  }

  .fm-c-field__input--error {
    border-color: var(--fm-field-error-border);
  }

  .fm-c-field__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: settings.$space-16;
  }
}