@use "../01_settings" as settings;

.fm-o-layout {
  .fm-c-button {
    padding: settings.$space-8 settings.$space-14;
    background-color: var(--fm-button-bg);
    color: var(--fm-button-label);
    border-radius: var(--fm-radius-md);
    transition: background-color var(--fm-transition-in-out);
    display: flex;
    align-items: center;
    gap: settings.$space-10;
    z-index: 1;

    svg {
      width: 16px;
    }

    &:hover {
      background-color: var(--fm-button-bg-hover);
    }

    &:disabled {
      background-color: transparent;
      box-shadow: 0 0 0 1px var(--fm-border-grey-100);
      color: var(--fm-button-disabled-label);
      pointer-events: none;
    }
  }
}
