@use "../01_settings" as settings;

.fm-o-layout {
  .fm-c-submenu {
    background-color: var(--fm-modal-overlay-bg);
    position: fixed;
    inset: 0;
    display: flex;
    align-items: end;
    transition: opacity var(--fm-transition-in-out);
    opacity: 0;
    pointer-events: none;
    z-index: 1;

    &.is-active {
      opacity: 1;
      pointer-events: all;

      .fm-c-submenu__content {
        transform: translateY(0);
      }
    }
  }

  .fm-c-submenu__content {
    position: relative;
    padding: settings.$space-24 settings.$space-16;
    border-radius: var(--fm-radius-lg) var(--fm-radius-lg) 0 0;
    background-color: var(--fm-color-neutral-white);
    width: 100%;
    transition: transform var(--fm-transition-in-out);
    transform: translateY(100%);

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .fm-c-submenu__item {
    display: flex;
    align-items: center;
    gap: settings.$space-16;
    padding: settings.$space-8 settings.$space-12;
  }

  .fm-c-submenu__button svg {
    border: 1px solid var(--fm-border-grey-100);
    border-radius: 50%;
    padding: settings.$space-10;
    width: 40px;
    height: 40px;
  }
}