@use "../01_settings" as settings;

.fm-o-layout {
  .fm-c-modal {
    transform: scale(0.95);
    border: 0;
    padding: settings.$space-20;
    border-radius: var(--fm-radius-md);
    display: flex;
    flex-direction: column;
    transition: opacity var(--fm-transition-in-out), transform var(--fm-transition-in-out);
    opacity: 0;
    pointer-events: none;

    & > p {
      text-align: center;
      margin-bottom: settings.$space-16;
    }
  }

  .fm-c-modal--open {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
  }

  .fm-c-modal--md {
    width: 330px;

    @include settings.max-width(md) {
      width: calc(100% - 32px);
    }
  }

  .fm-c-modal--lg {
    width: 686px;

    @include settings.max-width(md) {
      width: calc(100% - 32px);
    }
  }

  .fm-c-modal__close {
    position: absolute;
    top: settings.$space-16;
    right: settings.$space-16;
  }

  .fm-c-modal__content {
    max-height: 290px;
    overflow: auto;

    ul {
      list-style: none;
    }

    & > ul {
      padding: 0;
    }

    .fm-c-collapse__content,
    .fm-c-collapse__head {
      width: 100%;
    }
  }

  .fm-c-modal__content--with-border {
    border-radius: var(--fm-radius-md);
    border: 1px solid var(--fm-border-grey-100);
    padding: settings.$space-16;
  }

  .fm-c-modal__actions {
    display: flex;
    align-items: center;
    margin-top: settings.$space-32;
    gap: settings.$space-24;
    justify-content: end;
  }
}