{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

{% props error = null, label %}

<div {{ attributes.defaults({class: 'c-field'}) }}>
    <label for="field" class="u-sr-only c-text-s u-text-white">{{ label }}</label>
    <div class="c-field__wrapper">
        <input class="c-field__input c-text-s{% if error %} c-field__input--error{% endif %}" type="text" name="field"
               id="field" placeholder="{{ label }}">
        {% if error %}
            <span class="c-field__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM11 17V15H13V17H11ZM11 7V13H13V7H11Z" fill="#E60020"/>
                </svg>
            </span>
        {% endif %}
    </div>
    {% if error %}
        <p class="c-text-xs u-color-actions-danger-600 c-field__error">{{ error }}</p>
    {% endif %}
</div>