<div class="fm-c-field">
    <label for="field" class="fm-u-sr-only fm-c-text-s fm-u-text-white">{{ title }}</label>
    <div class="fm-c-field__wrapper">
        <input class="fm-c-field__input fm-c-text-s" type="text" name="field" id="field" placeholder="{{ title }}" data-model="norender|value"/>
    </div>
</div>