<div class="c-field">
    <label for="field" class="u-sr-only c-text-s u-text-white">{{ title }}</label>
    <div class="c-field__wrapper">
        <input class="c-field__input c-text-s" type="text" name="field" id="field" placeholder="{{ title }}" data-model="norender|value"/>
    </div>
</div>